@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__caption/lead__caption.css);
.lead {
  margin: 0 auto;
  text-align: center;
  width: 984px;
}


@media screen and (max-width: 1279px) {
  .lead  {
    width: calc(100% - 6.5rem);
    
   
  }
}

@media screen and (max-width: 1023px) {
  .lead  {
    
    width: 100%;
  }
}

/* @media screen and (max-width: 767px) {
  .lead  {
    
    width: calc(100% - 2rem);
  }
} */



