.cover__subtitle {
  padding-bottom: 245px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  width: 360px;
  margin: auto;
  z-index: 1;
}


@media screen and (max-width: 1279px) {
  .cover__subtitle {
    padding-bottom: 195px;
    
   
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    
    padding-bottom: 115px;
    
  }
}
@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    width: calc(100% - 2rem);
    padding-bottom: 105px;
  }
}

@media screen and (max-width: 519px) {
  .cover__subtitle {
    
    padding-bottom: 85px;
  }
}



@media screen and (max-width: 399px) {
  .cover__subtitle {
    
    padding-bottom: 33px;
  }
}
