.place__text {
  margin-left: 40px;
}

@media screen and (max-width: 1279px) {
  .place__text {
    width: calc(50% - 0.5rem);
    margin-left: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    /* width: calc(100% - 1rem);  */
    margin-left: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}