.footer__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-right: 18px;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    flex-direction: column;
    /* width: calc(100% - 2rem); */
  }
}