.place__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #FFFFFF;

  width: 484px;
  
  /* vertical-align: top; */
  margin: 0;
  margin-bottom: 24px;
}



@media screen and (max-width: 1279px) {
  .place__paragraph {
    width: 456px;

   
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 18px;
  line-height: 1.62;
    width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    
    width: 288px;
  }
}
