.place__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #FFFFFF;

  width: 484px;
  
  vertical-align: top;
  margin: 0;
}