@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__fact/intro__fact.css);
.intro {
  margin: 0 auto;
  max-width: 984px;
  margin-bottom: 92px;

}
@media screen and (max-width: 1279px) {
  .intro  {
    width: calc(100% - 6rem);
    
   
  }
}


@media screen and (max-width: 1023px) {
  .intro {
    
    width: calc(100% - 3rem);
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    
    width: calc(100% - 2rem);
    margin-bottom: 64px;
  }
}
 
