@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__fact/intro__fact.css);
.intro {
  margin:0;
  width: 690px;
  padding-left: 9.1875em;
  /* width: calc(100% - 6rem); */
}
@media screen and (max-width: 1279px) {
  .intro  {
    width: calc(100% - 6.5rem);
    
   
  }
}

/* @media screen and (max-width: 1023px) {
  .intro  {
    
    width: 100%;
  }
}  */

 /* @media screen and (max-width: 1279px) {
  .intro {
    width: calc(100% - 6.5rem);
    
   
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    
    width: calc(100% - 3rem);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    
    width: calc(100% - 2rem);
  }
}
 */

