@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);
.cover {
  margin: auto;
  position: relative;
  max-width: 1184px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  z-index: 0;
  /* opacity: 0.8; */
}

.cover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}

.cover:hover:before {
  background: rgba(0, 0, 0, .8);
}

 @media screen and (max-width: 1279px) {
  .cover {
  width: 100%;
   
  }
}
