.lead__caption{
  font-size: 10px;
  line-height: 1.4;
  font-weight: normal;
  text-align: start;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 6px;
  margin-bottom: 92px;
}