@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__lnk/footer__lnk.css);
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: calc(100% - 6.5rem);
    /* padding-bottom: 48px; */
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    margin-top: 88px;
    width: calc(100% - 3rem);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    width: calc(100% - 2rem);
    margin-top: 64px;
  }
}