@import url(./__item/photo__item.css);
.photo {
  max-width: 1184px;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 16px;
  padding: 0 48px;
  margin: 0 auto;
  margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .photo {
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo {
    grid-gap: 16px;
    padding: 0 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo {
    padding: 0 12px;
    grid-gap: 12;
    margin-bottom: 64px;
  }
}