.intro__title {
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}

/* @media screen and (max-width: 1023px) {
  .intro__title {
    margin: auto;
    width: 720px;
    text-align: left;
  }
} */

@media screen and (max-width: 1023px) {
  .intro__title {
    font-size: 40px;
    line-height: 1.1;
  }
}